body {
    background: rgb(231, 230, 230);
}

.fa-lightbulb {
    color: black;
    font-size:  110px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.calendar-text {
    text-shadow: 2px 2px 8px rgb(59, 58, 58);
    font-size: 20px;
    font-family: 'Lobster', cursive;
}